<html>
    <head>
        <title>Crypto Panel</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
            <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>

        <header>
            <div class="ui four item menu" >
              <a class="item" href="{{ url_for('home') }}">Home</a>
              <a class="item" href="{{ url_for('new_transaction') }}">New transaction</a>
              <a class="item" href="{{ url_for('mine') }}">Mine</a>
              <a class="item" href="{{ url_for('chain') }}">Get chain</a>
            </div>
        </header>

        <div class="ui center aligned segment">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>

